body {
    background-color: rgb(253, 251, 251);
}


#cabecalho {
    background-color: green;
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
}

#minha_foto {
    width: 230px;
    margin-top: 100px;
}

a {
    text-decoration: none;
}